<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seekbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EnD"></activity>
        <activity android:name=".lagja" />
        <activity android:name=".hotgirl" />
        <activity android:name=".gulabi" />
        <activity android:name=".galkarke" />
        <activity android:name=".flexicution" />
        <activity android:name=".cold" />
        <activity android:name=".ajeeb" />
        <activity android:name=".soldier" />
        <activity android:name=".sunflower" />
        <activity android:name=".aaftab" />
        <activity android:name=".yellowHearts" />
        <activity android:name=".goodThing" />
        <activity android:name=".sage" />
        <activity android:name=".loseYou" />
        <activity android:name=".badliar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>